.container {
  border: 1px solid tomato;
  max-width: 65ch;
  margin-inline: auto;
  padding: 1rem;
}

.toggleButton {
  margin-right: 1rem;
}

.toggleStatus {
  font-weight: 700;
  text-transform: capitalize;
}
